
body {
    height: 100%;
    background-color: #f5f5f5;
}
.body-content {
    /* display: flex; */
    /* flex-direction: column; */
    height: 100%;
    /* padding-top: 10px; */
}
.patient-info {
    margin-top: 10px;
    padding: 12px 14px;
    background-color: #ffffff;
}
.patient-info .name span {
    display: inline-block;
    width: 49%;
}
.patient-info p + p {
    margin-top: 10px;
}
.item-title {
    padding: 12px 14px;
    color: #5d5d5d;
}

.item-result {
    padding: 18px 14px;
    background-color: #ffffff;
}
.common-tip {
    font-size: 13px;
    padding: 12px 14px;
    color: #888888;
    line-height: 1.5em;
}
.clear-item {
    display: flex;
    flex-direction: row;
}
.left {
    /* float: left; */
    width: 34%;
    overflow-wrap: break-word;
    line-height: 1.3em;
}
.right {
    /* float: right; */
    flex: 1 1 auto;
    text-align: right;
}
.right span {
    display: inline-block;
    height: 100%;
    line-height: 40px;
}

.later {
    color: #888888;
}


.footer {
    width: 100%;
    position: fixed;
    font-size: 13px;
    bottom: 10px;
    text-align: center;
    color: #888888;
}